<header class="header">
  <div class="logo-container">
    <img src="assets/logos/tribologo.png" alt="Tribo Academia Logo" class="logo">
  </div>
  <nav class="nav-menu">
    <ul>
      <li><a class="nav-link" href="#inicio">Início</a></li>
      <li><a class="nav-link" href="#galeria">Galeria</a></li>
      <li><a class="nav-link" href="#planos">Planos</a></li>
      <li><a class="nav-link" href="#contatos">Contatos</a></li>
      <li><a class="nav-link" href="#localizacao">Localização</a></li>
    </ul>
  </nav>
</header> 