<header class="header">
  <div class="logo-container">
    <img src="assets/logos/tribologo.png" alt="Tribo Academia Logo" class="logo">
  </div>

  <button 
    class="hamburger-button" 
    (click)="toggleMenu()" 
    [class.is-active]="menuAberto">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>

  <nav class="nav-menu" [class.is-open]="menuAberto">
    <ul>
      <li><a class="nav-link" href="#inicio" (click)="closeMenu()">Início</a></li>
      <li><a class="nav-link" href="#galeria" (click)="closeMenu()">Galeria</a></li>
      <li><a class="nav-link" href="#planos" (click)="closeMenu()">Planos</a></li>
      <li><a class="nav-link" href="#contatos" (click)="closeMenu()">Contatos</a></li>
      <li><a class="nav-link" href="#localizacao" (click)="closeMenu()">Localização</a></li>
    </ul>
  </nav>
</header>